.btn {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background: none;
  display: inline-block;
  

  &--small {
    padding: 1rem 1.8rem;
    border-radius: 2.5rem;
  }

  &--medium {
    padding: 1.6rem 3.2rem;
    border-radius: 3.2rem;
  }



  
  &--light {
    color: darkblue;
    border: 1px solid darkblue;
    padding: 1.2rem 3rem;
    border-radius: 0.8rem;

    &:hover {
      background-color: darkblue;
      color:#ffffff;
    }
  }

 
  &--dark {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #333333;
    padding: 1.2rem 3rem;
    border-radius: 0.8rem;

    &:hover {
      background-color: #1a1a1a;
    }
  }
}
